<div>
<img src=https://www.institutedata.com/wp-content/uploads/2019/10/iod_h_tp_primary_c.svg width="300">
</div>

# Lab 2.1.1
# *Data Wrangling and Munging with Pandas*

In this lab we work through reading in files of a range of formats, then manipulating a dataset to handle missing values and performing data profiling.

**Note**: It you are new to programming, it is fine if you are not able to complete every exercise. Fewer hints are given here compared with module 1 to train you to become increasingly independent. Reach out to your trainer if any tasks are taking too long and additional support is needed.

## Part 1: Wrangling Data

The term "data wrangling" is analogous to capturing wild horses and getting them into a fenced area; the horses are data and the fencing is your computer. The more common data wrangling tasks include:

- reading flat files
- reading Excel files
- downloading from web pages
  - csv
  - html
  - json

In [1]:
# Import Numpy and Pandas library
import numpy as np
import pandas as pd

*It is good practice to display the library version numbers for future reference:*

In [3]:
# Check the version of Numpy and Pandas
print('Numpy: ', np.__version__)
print('Pandas: ', pd.__version__)

Numpy:  1.26.4
Pandas:  2.2.3

### CSV Files

Below are three attempts to load the file "bikeshare.csv" (from the DATA folder) into a DataFrame named `bikes`. Why are they wrong?

In [6]:
# wrong:
bikes = pd.read_table('bikeshare.csv', header = None) 
print(bikes.head())
print()

# wrong:
bikes = pd.read_table('bikeshare.csv', header = 1)
print(bikes.head())
print()

# wrong:
bikes = pd.read_table('bikeshare.csv', header = 0)
print(bikes.head())

                                                   0
0  instant,dteday,season,yr,mnth,hr,holiday,weekd...
1  1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,...
2  2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.8,0...
3  3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.8,0...
4  4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,...

  1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0,3,13,16
0  2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.8,0...
1  3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.8,0...
2  4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,...
3  5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,...
4  6,2011-01-01,1,0,1,5,0,6,0,2,0.24,0.2576,0.75,...

  instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0  1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,...
1  2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.8,0...
2  3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.8,0...
3  4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,...
4  5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,...

ANSWER:

Load the file "bikeshare.csv" into a DataFrame named `bikes`, and confirm that it was loaded properly:

In [8]:
#ANSWER:
# Read the CSV file without header
bikes = pd.read_csv('bikeshare.csv', header = None) 
print(bikes.head())
print()

# Read the CSV file with second row as header
bikes = pd.read_csv('bikeshare.csv', header = 1)
print(bikes.head())
print()

# Read the CSV file with first row as header
bikes = pd.read_csv('bikeshare.csv', header = 0)
print(bikes.head())

        0           1       2   3     4   5        6        7           8   \
0  instant      dteday  season  yr  mnth  hr  holiday  weekday  workingday
1        1  2011-01-01       1   0     1   0        0        6           0
2        2  2011-01-01       1   0     1   1        0        6           0
3        3  2011-01-01       1   0     1   2        0        6           0
4        4  2011-01-01       1   0     1   3        0        6           0

           9     10      11    12         13      14          15   16
0  weathersit  temp   atemp   hum  windspeed  casual  registered  cnt
1           1  0.24  0.2879  0.81          0       3          13   16
2           1  0.22  0.2727   0.8          0       8          32   40
3           1  0.22  0.2727   0.8          0       5          27   32
4           1  0.24  0.2879  0.75          0       3          10   13

   1  2011-01-01  1.1  0  1.2  0.1  0.2  6  0.3  1.3  0.24  0.2879  0.81  \
0  2  2011-01-01    1  0    1    1    0  6    0    1  0.22  0.2727  0.80
1  3  2011-01-01    1  0    1    2    0  6    0    1  0.22  0.2727  0.80
2  4  2011-01-01    1  0    1    3    0  6    0    1  0.24  0.2879  0.75
3  5  2011-01-01    1  0    1    4    0  6    0    1  0.24  0.2879  0.75
4  6  2011-01-01    1  0    1    5    0  6    0    2  0.24  0.2576  0.75

      0.4  3  13  16
0  0.0000  8  32  40
1  0.0000  5  27  32
2  0.0000  3  10  13
3  0.0000  0   1   1
4  0.0896  0   1   1

   instant      dteday  season  yr  mnth  hr  holiday  weekday  workingday  \
0        1  2011-01-01       1   0     1   0        0        6           0
1        2  2011-01-01       1   0     1   1        0        6           0
2        3  2011-01-01       1   0     1   2        0        6           0
3        4  2011-01-01       1   0     1   3        0        6           0
4        5  2011-01-01       1   0     1   4        0        6           0

   weathersit  temp   atemp   hum  windspeed  casual  registered  cnt
0           1  0.24  0.2879  0.81        0.0       3          13   16
1           1  0.22  0.2727  0.80        0.0       8          32   40
2           1  0.22  0.2727  0.80        0.0       5          27   32
3           1  0.24  0.2879  0.75        0.0       3          10   13
4           1  0.24  0.2879  0.75        0.0       0           1    1

Note that we could have used `read.csv()` above. `read_table()` is necessary when `sep` is not the comma character, or we need fine control that `read.csv()` does not provide.

Flat files can be full of surprises. Here are some issues to watch out for:

- separator character is something other than the comma
  - ";", "|", and tab are popular
- newline character is something other than what the O/S expects
  - Tip: Don't hard-code the character codes for carriage returns, linefeeds, etc. Use Python's built-in representation instead (e.g. Python translates "\n" to the newline character and "\t" to the tab character on any O/S).
- truncated lines
  - if there are empty fields at the end of a line it is possible that their separators will be missing, resulting in a "jagged" file
- embedded commas or quotes
  - a free-text field containing embedded commas may split into separate fields on input
  - a free-text field containing embedded quotes may not parse correctly
- unescaped characters
  - the "\" character indicates a control code to Python, which will break the I/O
    - e.g. the substring "\u0123" will be interpreted as Unicode(0123) -- which may not be what the file creator intended
  - these may need to be fixed by loading whole strings and then parsing into a new data frame
  
Tip: Most issues can be dealt with by correctly specifying the parameters of the function you use to load the file. Read the documentation before reading the data!

### Reading Excel Files

In [22]:
!pip install xlrd

Requirement already satisfied: xlrd in c:\users\nsk_z\anaconda3\lib\site-packages (2.0.1)

In [10]:
# Import the read_excel package
from pandas import ExcelFile

In [12]:
# Read the excel file (Iris.xls)
df = pd.read_excel('Iris.xls', sheet_name = 'Data') # file comes from the DATA folder
df

,Species_No,Petal_width,Petal_length,Sepal_width,Sepal_length,Species_name
0,1,0.2,1.4,3.5,5.1,Setosa
1,1,0.2,1.4,3.0,4.9,Setosa
2,1,0.2,1.3,3.2,4.7,Setosa
3,1,0.2,1.5,3.1,4.6,Setosa
4,1,0.2,1.4,3.6,5.0,Setosa
...,...,...,...,...,...,...
145,3,2.3,5.2,3.0,6.7,Verginica
146,3,1.9,5.0,2.5,6.3,Verginica
147,3,2.0,5.2,3.0,6.5,Verginica
148,3,2.3,5.4,3.4,6.2,Verginica
149,3,1.8,5.1,3.0,5.9,Verginica

It is usually better to load data correctly than to meddle with the source file or load it 'warts and all' and then try to parse it in code. The Pandas functions for reading files have parameters that provide the control we need. For example, we could make multiple calls to `read_excel()`, using combinations of the `header`, `usecols`, `skiprows`, `nrows`, and `skipfooter` parameters to load one table at a time from a spreadsheet with multiple tables.

Load the above file without the unwanted column Species_No:

In [14]:
#ANSWER
#Read the excel file and skip the column "Species_No"
column = ['Petal_width', 'Petal_length', 'Sepal_width', 'Sepal_length','Species_name']
df = pd.read_excel('Iris.xls', sheet_name = 'Data', usecols = column ) # file comes from the DATA folder
df

     Petal_width  Petal_length  Sepal_width  Sepal_length Species_name
0            0.2           1.4          3.5           5.1       Setosa
1            0.2           1.4          3.0           4.9       Setosa
2            0.2           1.3          3.2           4.7       Setosa
3            0.2           1.5          3.1           4.6       Setosa
4            0.2           1.4          3.6           5.0       Setosa
..           ...           ...          ...           ...          ...
145          2.3           5.2          3.0           6.7    Verginica
146          1.9           5.0          2.5           6.3    Verginica
147          2.0           5.2          3.0           6.5    Verginica
148          2.3           5.4          3.4           6.2    Verginica
149          1.8           5.1          3.0           5.9    Verginica

[150 rows x 5 columns]

### Importing Data Directly from the Web

We usually want to store a local copy of a data file that we download from the Web, but when data retention is not a priority it is convenient to download the data directly into our running Python environment.

#### Importing Text Files from the Web

The web is the 'wild west' of data formats. However, we can usually expect good behaviour from files that are automatically generated by a service, such as the earthquake report:

In [16]:
df = pd.read_csv('https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/2.5_hour.csv')
df.head()

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,updated,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource
0,2025-05-31T13:14:52.831Z,-15.8326,-174.2043,108.698,4.7,mb,62,93,3.023,0.88,...,2025-05-31T13:34:35.040Z,"45 km WNW of Hihifo, Tonga",earthquake,11.78,7.257,0.055,101,reviewed,us,us

#### Importing HTML Files from the Web

Working with unstructured HTML files relies heavily on library functions. This one, however, is well-structured:

In [18]:
url = 'https://www.ccra.com/airport-codes/'

df = pd.read_html(url)
df

[                City      Country Code
 0            Aalborg      Denmark  AAL
 1           Aalesund       Norway  AES
 2             Aarhus      Denmark  AAR
 3     Abbotsford, BC       Canada  YXX
 4           Aberdeen     Scotland  ABZ
 ...              ...          ...  ...
 1573        Zanzibar     Tanzania  ZNZ
 1574        Zaragoza        Spain  ZAZ
 1575       Zhengzhou        China  CGO
 1576        Zhoushan        China  HSN
 1577          Zurich  Switzerland  ZRH

 [1578 rows x 3 columns]]

In [19]:
df[0]

                City      Country Code
0            Aalborg      Denmark  AAL
1           Aalesund       Norway  AES
2             Aarhus      Denmark  AAR
3     Abbotsford, BC       Canada  YXX
4           Aberdeen     Scotland  ABZ
...              ...          ...  ...
1573        Zanzibar     Tanzania  ZNZ
1574        Zaragoza        Spain  ZAZ
1575       Zhengzhou        China  CGO
1576        Zhoushan        China  HSN
1577          Zurich  Switzerland  ZRH

[1578 rows x 3 columns]

#### Importing XML Files from the Web

XML files are semi-structured, but you're at the mercy of the file creator. If every record has the same format it will be much easier, but practical applications often require a lot of custom code. Here are a few examples: https://pandas.pydata.org/docs/user_guide/io.html#io-read-xml

#### Importing JSON Files from the Web

Like XML, JSON files are semi-structured and may require work to capture the schema into a dataframe. Here is a simple example:

In [22]:
url = 'https://microsoftedge.github.io/Demos/json-dummy-data/64KB.json'

# Load the first sheet of the JSON file into a data frame
df = pd.read_json(url, orient = 'columns')
df.head()

,name,language,id,bio,version
0,Adeel Solangi,Sindhi,V59OF92YF627HFY0,Donec lobortis eleifend condimentum. Cras dict...,6.10
1,Afzal Ghaffar,Sindhi,ENTOCR13RSCLZ6KU,"Aliquam sollicitudin ante ligula, eget malesua...",1.88
2,Aamir Solangi,Sindhi,IAKPO3R4761JDRVG,Vestibulum pharetra libero et velit gravida eu...,7.27
3,Abla Dilmurat,Uyghur,5ZVOEPMJUI4MB4EN,Donec lobortis eleifend condimentum. Morbi ac ...,2.53
4,Adil Eli,Uyghur,6VTI8X6LL0MMPJCC,"Vivamus id faucibus velit, id posuere leo. Mor...",6.49

Handy reference on JSON: https://www.dataquest.io/blog/python-json-tutorial/

## Part 2: Data Munging

Data munging is manipulating data to get it into a form that we can start running analyses on (which usually means getting the data into a DataFrame). Before we get to this stage, we may need to remove headers or footers, transpose columns to rows, split wide data tables into long ones, and so on. (Nb. Excel files can be particularly troublesome, because users can format their data in mixed, complex shapes.) Essentially, we need to follow Hadley Wickham's guidelines for tidy datasets (http://vita.had.co.nz/papers/tidy-data.html):

The end goal of the cleaning data process:

- each variable should be in one column
- each observation should comprise one row
- each type of observational unit should form one table
- include key columns for linking multiple tables
- the top row contains (sensible) variable names
- in general, save data as one file per table

### Dataset Morphology

Once we have our dataset in a DataFrame (or Series, if our data is only 1-dimensional), we can start examining its size and content.

How many rows and columns are in `bikes`?

In [24]:
#ANSWER
#Check the rows and columns of the dataset
bikes.shape

(17379, 17)

What are the column names in `bikes`?

In [26]:
#ANSWER
#Check the column names in dataset
bikes.columns

Index(['instant', 'dteday', 'season', 'yr', 'mnth', 'hr', 'holiday', 'weekday',
       'workingday', 'weathersit', 'temp', 'atemp', 'hum', 'windspeed',
       'casual', 'registered', 'cnt'],
      dtype='object')

What are the data types of these columns?

In [28]:
#ANSWER
#Check the data types in the for all the columns
bikes.dtypes

instant         int64
dteday         object
season          int64
yr              int64
mnth            int64
hr              int64
holiday         int64
weekday         int64
workingday      int64
weathersit      int64
temp          float64
atemp         float64
hum           float64
windspeed     float64
casual          int64
registered      int64
cnt             int64
dtype: object

In [32]:
#ANSWER
#Check the row index of the dataset
#Convert the dataset to dataframe
bikes_df = pd.DataFrame(bikes)
print(bikes_df)

       instant      dteday  season  yr  mnth  hr  holiday  weekday  \
0            1  2011-01-01       1   0     1   0        0        6
1            2  2011-01-01       1   0     1   1        0        6
2            3  2011-01-01       1   0     1   2        0        6
3            4  2011-01-01       1   0     1   3        0        6
4            5  2011-01-01       1   0     1   4        0        6
...        ...         ...     ...  ..   ...  ..      ...      ...
17374    17375  2012-12-31       1   1    12  19        0        1
17375    17376  2012-12-31       1   1    12  20        0        1
17376    17377  2012-12-31       1   1    12  21        0        1
17377    17378  2012-12-31       1   1    12  22        0        1
17378    17379  2012-12-31       1   1    12  23        0        1

       workingday  weathersit  temp   atemp   hum  windspeed  casual  \
0               0           1  0.24  0.2879  0.81     0.0000       3
1               0           1  0.22  0.2727  0.80     0.0000       8
2               0           1  0.22  0.2727  0.80     0.0000       5
3               0           1  0.24  0.2879  0.75     0.0000       3
4               0           1  0.24  0.2879  0.75     0.0000       0
...           ...         ...   ...     ...   ...        ...     ...
17374           1           2  0.26  0.2576  0.60     0.1642      11
17375           1           2  0.26  0.2576  0.60     0.1642       8
17376           1           1  0.26  0.2576  0.60     0.1642       7
17377           1           1  0.26  0.2727  0.56     0.1343      13
17378           1           1  0.26  0.2727  0.65     0.1343      12

       registered  cnt
0              13   16
1              32   40
2              27   32
3              10   13
4               1    1
...           ...  ...
17374         108  119
17375          81   89
17376          83   90
17377          48   61
17378          37   49

[17379 rows x 17 columns]

What is the (row) index for this DataFrame?

In [34]:
bikes.index

RangeIndex(start=0, stop=17379, step=1)

### Slicing

Slicing refers to extracting part of a Python object such as a list or dataframe.

It is often preferable to refer to DataFrame columns by name, but there is more than one way to do this.
Do `bikes['season']` and `bikes[['season']]` give the same object? Demonstrate:

In [36]:
#ANSWER
#Check both bikes_df['season'] and bikes_df[['season']] are the same. Answer: Yes
print(bikes_df['season'])
print(bikes_df[['season']])

0        1
1        1
2        1
3        1
4        1
        ..
17374    1
17375    1
17376    1
17377    1
17378    1
Name: season, Length: 17379, dtype: int64
       season
0           1
1           1
2           1
3           1
4           1
...       ...
17374       1
17375       1
17376       1
17377       1
17378       1

[17379 rows x 1 columns]

How would we use object notation to show the first 4 rows of `atemp`?

In [38]:
#ANSWER
# Show the first 4 rows of column atemp by using object notation
print(bikes_df.atemp[:4])

0    0.2879
1    0.2727
2    0.2727
3    0.2879
Name: atemp, dtype: float64

Algorithms that loop over multiple columns often access DataFrame columns by index. However, none of the following work (try them out by uncommenting / removing the "#E: " ):

!!! Pandas now highly recommends the use of explicit index calling via either .loc or .iloc. Below are examples of implicit index calling which is being deprecated

In [40]:
bikes_df[[0]]
bikes_df[0]
bikes_df[0,0]
bikes_df[[0,0]]

KeyError: "None of [Index([0], dtype='int32')] are in the [columns]"

What is the correct way to access the 1st row of the DataFrame by its index?

In [43]:
#ANSWER
#Access first row of the dataframe by index
bikes_df[:1]

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16

What is the correct way to access the 2nd column of the DataFrame by its index?

In [45]:
#ANSWER
#Access second column of the dataframe by index
bikes_df.iloc[:,1]

0        2011-01-01
1        2011-01-01
2        2011-01-01
3        2011-01-01
4        2011-01-01
            ...
17374    2012-12-31
17375    2012-12-31
17376    2012-12-31
17377    2012-12-31
17378    2012-12-31
Name: dteday, Length: 17379, dtype: object

### Handling Missing Values

What is the Pandas `isnull` function for?

?
ANSWER:

We can apply `isnull` to the `bikes` DataFrame to show the result for every element:

In [47]:
bikes.isnull().head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

However, we usually start at a higher level. How many nulls are in `bikes` altogether?

In [49]:
#ANSWER
#Calculate the total missing value in respective columns
import pandas as pd
import numpy as np
bikes_df.isnull().sum()

instant       0
dteday        0
season        0
yr            0
mnth          0
hr            0
holiday       0
weekday       0
workingday    0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
casual        0
registered    0
cnt           0
dtype: int64

If this result were nonzero we would next want to find out which columns contained nulls. How can this be done in one line of code?

In [51]:
#ANSWER
#Find the column that contains NULL
bikes_df.isnull().any()

instant       False
dteday        False
season        False
yr            False
mnth          False
hr            False
holiday       False
weekday       False
workingday    False
weathersit    False
temp          False
atemp         False
hum           False
windspeed     False
casual        False
registered    False
cnt           False
dtype: bool

What is the Numpy object `nan` used for? (Write a descriptive answer.)
Numpy 'nan' use for handling missing or undefined numeric data. Its properties as floating point value and unique comparison behavior. It provides a standardized and computationally efficient way to mark and manage gaps in data that would otherwise lead to errors or inaccurate results

?
ANSWER:

Write (and verify) a function that performs scalar division with built-in handling of the edge cases (i.e. divide by zero, divide by NaN). Return a value for the edge cases instead of just trapping the error:

In [53]:
#ANSWER
def divide (x, y): 
    if y == 0:
        quotient = np.nan
    else: 
        quotient = x/y
    return quotient
print(divide(100,0))

nan

Apply the Pandas `isna` function to the following data objects:

In [55]:
x = 2.3
y = np.nan
print(x, y)

2.3 nan

In [57]:
#ANSWER
#Check x and y whether NA
print(f"x is NA ?: {pd.isna(x)}")
print(f"y is NA ?: {pd.isna(y)}")

x is NA ?: False
y is NA ?: True

In [59]:
array = np.array([[1, np.nan, 3], [4, 5, np.nan]])
print(array)

[[ 1. nan  3.]
 [ 4.  5. nan]]

In [61]:
#ANSWER
#Check the array whether there is NA
print(f"Array got NA ?:\n {pd.isna(array)}")

Array got NA ?:
 [[False  True False]
 [False False  True]]

How is the pandas I/O parameter `na_values` used?

? ANSWER: 
In Python, specifically within the pandas library, na_values is a parameter used in functions like read_csv() to specify additional strings that should be recognized as missing or "Not Available" (NA) values, in addition to the default set of strings. When na_values is used, the specified strings are converted to NaN (Not a Number), a special floating-point value used by pandas to represent missing numerical data.

### Data Profiling

#### Counts

When there are categorical variables in a dataset we will want to know how many possible values there are in each column. (Nb. If the dataset is a sample of a larger one, our sample may not capture all possible values of every categorical.)

How many (different) seasons are in `bikes`?

In [64]:
#ANSWER
#Check how many different seasons in bikes dataset
bikes_df['season'].value_counts()

season
3    4496
2    4409
1    4242
4    4232
Name: count, dtype: int64

#### Ranges

Print the range (min and max) of the `instant`, `dteday`, and `windspeed` columns:

In [66]:
#ANSWER
#Print the range of the columns 'instant', 'dteday', 'windspeed'
range_min= bikes_df[["instant", "dteday", "windspeed"]].min()
range_max= bikes_df[["instant", "dteday", "windspeed"]].max()
print(f"min of the columns: \n {range_min}")
print(f"max of the columns: \n {range_max}")

min of the columns:
 instant               1
dteday       2011-01-01
windspeed           0.0
dtype: object
max of the columns:
 instant           17379
dteday       2012-12-31
windspeed        0.8507
dtype: object

The following computes and prints the overall minimum and maximum of the numeric data columns:

In [68]:
bikes_min, bikes_max = (min(bikes.min(numeric_only=True)), max(bikes.max(numeric_only=True)))
bikes_min, bikes_max

(0.0, 17379.0)

#### Quantiles

Pandas makes computing quantiles easy. This is how to get the median of a Series:

In [70]:
bikes['atemp'].quantile(0.5)

0.4848

Of course, the `quantiles` method can take a tuple as its argument. Compute the 10th, 25th, 50th, 75th, and 90th percentiles in one line of code:

In [72]:
#ANSWER
# Compute the 10th, 25th, 50th, 75th, and 90th percentiles
bikes['atemp'].quantile([0.1, 0.25, 0.50, 0.75, 0.90])

0.10    0.2424
0.25    0.3333
0.50    0.4848
0.75    0.6212
0.90    0.6970
Name: atemp, dtype: float64

#### Cuts

Sometimes we want to split the sample not by the quantiles of the distribution but by the range of the data. Let's take a closer look at `atemp`:

In [74]:
type(bikes['atemp'])

pandas.core.series.Series

In [76]:
bikes.sample(5)

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
8965,8966,2012-01-14,1,1,1,10,0,6,0,1,0.16,0.2273,0.47,0.0000,14,135,149
12406,12407,2012-06-06,2,1,6,3,0,3,1,1,0.46,0.4545,0.82,0.0000,0,8,8
1060,1061,2011-02-16,1,0,2,22,0,3,1,1,0.34,0.3333,0.53,0.1940,12,61,73
3601,3602,2011-06-03,2,0,6,23,0,5,1,1,0.58,0.5455,0.46,0.1045,30,141,171
3872,3873,2011-06-15,2,0,6,6,0,3,1,1,0.50,0.4848,0.63,0.2537,11,110,121

Suppose we decide to sort these values into 4 bins of equal width, but we want to apply the resulting groups to the entire DataFrame. Basically, we need to add a row label that indicates which bin each sample belongs in. Let's call this label "atemp_level", and use the `cut` method to populate it:

In [78]:
atemp_level = pd.cut(bikes['atemp'], bins = 4)

What is the type of `atemp_level`?

In [80]:
#ANSWER
type(atemp_level)

pandas.core.series.Series

Here is a random sample of `atemp_level`:

In [82]:
atemp_level.sample(5)

10293    (0.25, 0.5]
8798     (0.25, 0.5]
12255    (0.5, 0.75]
3047     (0.5, 0.75]
13054    (0.5, 0.75]
Name: atemp, dtype: category
Categories (4, interval[float64, right]): [(-0.001, 0.25] < (0.25, 0.5] < (0.5, 0.75] < (0.75, 1.0]]

So, by default, `cut` produces labels that indicate the bin boundaries for each element in the series it was applied to. Usually, we will specify labels that are appropriate to the discretisation we are applying:

In [84]:
atemp_level = pd.cut(bikes['atemp'], bins = 4, labels = ["cool", "mild", "warm", "hot"])
atemp_level.sample(5)

11852    warm
13386    warm
6196     warm
13668     hot
6751     warm
Name: atemp, dtype: category
Categories (4, object): ['cool' < 'mild' < 'warm' < 'hot']

Incorporate the new `atemp_level` column into the `bikes` DataFrame and use it to count the number of "mild" `atemp` entries in `season` 2:

In [86]:
#ANSWER
#Combine the column 'atemp_level' into the dataframe
bikes['atemp_level'] = pd.cut(bikes['atemp'], bins = 4, labels = ["cool", "mild", "warm", "hot"])
#Count the number of "mild" atemp and season == 2
count = len(bikes[(bikes['atemp_level']=="mild") & (bikes['season'] == 2)])
print(f"count the numnber: \n {count}")

count the numnber:
 1829

*Nb. The `atemp_level` variable we created is what the R language calls a "factor". Pandas has introduced a new data type called "category" that is similar to R's factors.*

>



---



---



> > > > > > > > > © 2025 Institute of Data


---



---